.play {
position: absolute;
      margin-left: 380px;
     border:none;
     background-color: white;
     opacity: 0.8;
     color: aliceblue;
     width: 60px;
     height: 60px;
     cursor: pointer;
      
}

.nomusic {
      position: absolute;
            margin-left: 380px;
           border:none;
           background-color: white;
           opacity: 0.8;
           color: aliceblue;
           width: 60px;
           height: 60px;
           cursor: pointer;
           width: 40px;
            
      }
      .nomusic:hover {
            transform: translateY(-3px);
        
        }
  
      
      
      
      .text-box {
          margin-left: 44vw;
         margin-top: 42vh;
      }
      
      .btn:link,
      .btn:visited {
          padding: 15px 40px;
          display: inline-block;
          border-radius: 100px;
          transition: all .2s;
          position: absolute;
      }
      
      .btn:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      
      .btn:active {
          transform: translateY(-1px);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
      
      .btn-white {
          background-color: #fff;
          color: #777;
          border-radius: 50px;
      }
   
      
      
      .btn::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 100px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s;
      }
      
      .btn-white::after {
          background-color: #fff;
      }
      
      .btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
      
      .btn-animated {
          animation: moveInBottom 5s ease-out;
          animation-fill-mode: backwards;
      }
      
      @keyframes moveInBottom {
          0% {
              opacity: 0;
              transform: translateY(30px);
          }
      
          100% {
              opacity: 1;
              transform: translateY(0px);
          }
      }
    
    
          
         
          
     